@{
    ViewBag.Title = "About";
}
<h2>About</h2>

<h3>Bio:</h3>
<p>
    Ashley is currently working at her first job in the industry as a Software Engineer I. She currently commutes to the city from Hiram,
    but hopes to move to the city soon. She is hoping to continue build her skills as a full stack developer both at work and through
    continuing to work on her own projects.
</p>
<ul>Education</ul>
<li>We Can Code It- Software development Bootcamp</li>
<ul>Programing Languages</ul>
<li>C#</li>
<li>Vb.net</li>
<li>Asp.net</li>
<li>Html</li>
<li>CSS</li>
<li>Javascript</li>