
@{
    ViewBag.Title = "ContactInfo";
}

<ol>Contact Information:</ol>
<li>Email:ashley.stewart@gmail.com</li>
<li>Phone: 330-842-3512</li>
<li><a href="https://www.linkedin.com/in/ashley-stewart-0b8759112">Linked In</a></li>

<ol> Code Examples:</ol>
<li><a href="https://github.com/alls221">Git Hub</a></li>
<li><a href="https://www.codeeval.com/profile/alls221/">Code Eval</a></li>